<div class="row">
    <div class="col-12 text-center ">
        <h1 class="text-primary  ">Componente prueba</h1>
    </div>
    <div class="col-12">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">id</th>
                  <th scope="col">first_name</th>
                  <th scope="col">last_name</th>
                  <th scope="col">n_document</th>
                  <th scope="col">email</th>
                  <th scope="col">phone_number</th>
                  
                </tr> 
            </thead> 
            <tbody>
                <tr *ngFor="let persona of this.data,index as posicion ">
                  <th scope="row">{{posicion+1}}</th>
                  <td>{{persona.id}}</td>
                  <td>{{persona.first_name}}</td>
                  <td>{{persona.last_name}}</td>
                  <td>{{persona.n_document}}</td>
                  <td>{{persona.email}}</td>
                  <td>{{persona.phone_number}}</td>
             
                </tr>
            </tbody>
        </table>
    </div>
</div>